.bg-nav {
  background-color: #1728f8;
}

.bg {
  background-color: #fafafb;
}

.text-color-head {
  color: #252321;
  font-size: 13px;
}

.text-color {
  color: #696969;
  font-size: 13px;
}

.colorRed {
  background-color: #ff3131 !important;
}
.colorGreen {
  background-color: #3bff3b !important;
}
.colorGrey {
  background-color: #e0e0e0;
}

.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}

#containerVarian {
  width: 100%;
  height: 400px; /* Atur tinggi default chart */
}

@media screen and (max-width: 500px) {
  #containerVarian {
    height: 300px; /* Atur tinggi chart untuk layar kecil */
  }
}
